/* 
// Layout:
- Mobile: 375px
- Desktop: 1440px

// Colors
-- Primary --
- Pale: hsl(225, 100%, 94%)
- Bright: hsl(245, 75%, 52%)

--Neutral--
- Very pal: hsl(225, 100%, 98%)
- Desaturated: #717FA6;
- Dark: hsl(223, 47%, 23%)

// Fonts
- Font size (paragraph): 16px;
-font-family: 'Red Hat Display', sans-serif; (500,700,900)

*/

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;

  height: 100vh;

  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem;
  color: #717fa6;

  background: #e0e8ff url(/images/pattern-background-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  display: block;

  max-width: 100%;
  height: auto;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.main {
  place-self: center;
  margin: 6.375rem 0;
}

.card {
  max-width: 28.125rem;

  background-color: #fff;
  border-radius: 20px;
}

.card__content {
  padding: 2.8125rem 3rem 3rem;
  text-align: center;
}

h2 {
  color: #1f2f56;
  font-weight: 900;
  font-size: 1.75rem;
  line-height: 2.3125rem;
  margin-bottom: 1.0625rem;
}

p {
  margin-bottom: 1.25rem;
}

.card__plan {
  background-color: #f5f7ff;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;

  padding: 1.5rem 1.5625rem;
  margin-bottom: 2rem;
  border-radius: 11px;
}

.plan__itm {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.plan__price {
  display: flex;
  flex-direction: column;
  line-height: 1.3125rem;
}

.price__text {
  font-weight: 900;
  color: #1f2f56;
  margin-bottom: 6px;
}

.plan-change__link {
  font-weight: 700;
  font-size: 0.875rem;
  justify-self: end;
}

.plan-change__link:link,
.plan-change__link:visited {
  color: #382ae1;
}

.plan-change__link:hover,
.plan-change__link:active {
  color: #766cf1;
  text-decoration: none;
}

.btn__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.btn__cancel,
.btn__payment {
  font-size: 0.9375rem;
  font-weight: 900;
  line-height: 1.25rem;
}

.btn__payment:link,
.btn__payment:visited {
  background-color: #382ae1;
  color: #fff;
  text-decoration: none;
  padding: 0.9375rem 0;
  border-radius: 11px;
}

.btn__payment:hover,
.btn__payment:active {
  background-color: #766cf1;
}

.btn__cancel:link,
.btn__cancel:visited {
  color: #717fa6;
}

.btn__cancel:hover,
.btn__cancel:active {
  color: #1f2f56;
}
